<div id="footer">
  <footer class="text-center text-white" style="background-color: #04f8e4">
    <!-- Grid container -->
    <div class="container pt-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.facebook.com/the007amanrai"
          target = "_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>

        <!-- Twitter -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://twitter.com/AmanRai09792754"
          target = "_blank"
          ><i class="fab fa-twitter"></i
        ></a>

        <!-- Instagram -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.instagram.com/amanraiji18/"
          target = "_blank"
          ><i class="fab fa-instagram"></i
        ></a>

        <!-- Linkedin -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://www.linkedin.com/in/aman-rai-ji/"
          target = "_blank"
          ><i class="fab fa-linkedin"></i
        ></a>
        <!-- Github -->
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="https://github.com/amanraiji1"
          target = "_blank"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div
      class="text-center text-dark p-3"
      style="background-color: rgba(0, 0, 0, 0.2)"
    >
      © 2022 Copyright,Aman Rai
    </div>
    <!-- Copyright -->
  </footer>
</div>
<!-- End of .container -->



</html>
