body {
  text-align: center;
  color: black;
}

.weather-section {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
  padding-bottom: 18%;
  font-family: cursive;
}

#search-form {
  display: flex;
  justify-content: center;
  padding-top: 7%;
  align-items: center;
}

#temp #temp-unit {
  font-size: 1.5rem;
}

#temp .temp-value {
  font-size: 2rem;
}
#climate {
  font-size: 2.5rem;
}
#location {
  font-size: 2.5rem;
}

#temp-icon {
  width: 170px;
  height: 170px;
}

main {
  text-align: center;
  font-weight: bolder;
  padding: 20px;
  margin-top: 10px;
  background-color: #b8fff9;
  border-radius: 20px;
  width: 360px;
  height: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 10px 10px 20px 10px black;
}

#search-button {
  color: black;
  background: #04f8e4;
  border-radius: 5px;
  margin-left: 5px;
  padding: 11px;
}

#search-button:hover {
  background: #ff6768;
}

#search-input {
  width: 260px;
  font-size: 20px;
  margin: 8px 0;
  padding: 8px 0;
  border-bottom: 3px solid #ff6768;
  color: black;
  outline: none;
  background: none;
}

input {
  border: none;
}

/* Home Page */

.big-heading {
  font-size: 4rem;
  line-height: 1.5;
  padding-bottom: 1.5rem;
}

#title {
  color: black;
  text-align: left;
}

#container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  padding: 0 0 4.5rem;
  background-color: #04f8e4;
}

.navbar-brand {
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
}

.section1 {
  margin: 3% 7%;
  padding: 2% 15%;
  text-align: left;
}

#weather {
  color: #04f8e4;
}

p {
  font-size: 1.5rem;
}

.Card {
  width: 400px;
  height: 500px;
}

#error-button {
  color: black;
  background-color: #04f8e4;
}
